body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a2e;
  }
  
  .game-container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #87ceeb; 
    border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    background-image: url('./Images/time-lapse-clouds-travel-across-a-blue-sky-free-video.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
    
  }
  
  .bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    animation: floatBubble 4s ease-in-out infinite alternate;
  }
  
  /* Keyframes animation for floating effect */
  @keyframes floatBubble {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10px);
    }
  }
  
  h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .popped {
    animation: popAnimation 0.3s ease forwards;
  }
  
  /* Define the animation keyframes */
  @keyframes popAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  .red-bubble {
    background-color: #ff6347; /* Red color */
  }
  audio {
    display: none; /* Hide the audio element visually */
  }